.container {
  margin: 4rem auto 0;
  min-height: 50vh;

  .pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .btnLoadMore {
    width: fit-content;
    margin: 3rem auto 0;
    button {
      border: none;
      border-radius: 6px;
      background: var(--gray-300);
      color: var(--red-500);

      font-weight: 600;
      font-size: 1.2em;

      padding: 1rem;
    }
  }
}
